.auto-style1 {
    width: 100%;
}

.auto-style2 {
    height: 56px;
    column-span: all;
    border: thin groove #000000;
    background-color: #003300;
    text-align: center;
    color: #FFFFFF;
}

.auto-style3  {
    height: 45px;
    border: thin groove #000000;
    background-color: #003300;
    text-align: center;
    color: #FFFFFF;
    font-family: Georgia, Times New Roman, Times, serif;
    column-span: all;
}

.auto-style4 {
    height: 457px;
    border: thin groove #000000;
    text-align: justify;
    background-color: #FFFFFF
}

.auto-style5 {
    height: 457px;
    width: 200px;
    border: thin solid #000000;
    background-color: #FF3300;
    font-family: Georgia, Times New Roman, Times, serif;
    text-align: justify;
    line-height: 30pt;
    color: #FFFFFF;
}

#map {
    height: 30%;
}

html, body {
    height: inherit;
    margin: 0;
    padding: 0;
}

.img-type1 {
    height: 300px;
    width: 300px;
}

#FormView1{table-layout:fixed; empty-cells:hide; border:groove;}
#ImageProducts {height:40px; width:40px;}
